extends layout

block content
  h1 Party Poll
  img(src='images/command.png' style='width526px;height:124px;')
  p

  img(src='images/demo.png' style='width470px;height:341px;')
  h2 The Problem
  p Have you ever needed to take a poll in Slack? There are apps like Simple Poll but it costs money 
  p Have you created an emoji poll as described on the slack docs (https://slack.com/help/articles/229002507-Create-a-poll-). Pretty straightforward but annoying to manually type in all the emoji options.

  h2 The Solution 
  p Party poll is the best of both worlds by allow users to create an emoji based reaction poll with a single slash command

